[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywebview = "*"
flask = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start = "npm run build --prefix app && python main.py"
build = "pyinstaller main.spec"
start-flask = "set FLASK_APP=main.py && flask run"
dev = "npx concurrently \"npm run start --prefix app\" \"pipenv run start\""
