[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywebview = "*"
webview = "*"
flask = "*"
pyinstaller = "*"
pythonnet = "*"
cefpython3 = "*"
pyqt5 = "*"
qtpy = "*"
pyqtwebengine = "*"
cx-freeze = "*"
nuitka = "*"
livereload = "*"
pyautogui = "*"
keyboard = "*"
threading = "*"
time = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
dev = "set DEBUG_MODE=True && set FLASK_APP=modules:app && set FLASK_ENV=development && npx concurrently \"flask --debug run\" \"npm run start --prefix app\""
start = "set DEBUG_MODE=True && npm run build --prefix app && python main.py"
start-flask = "set FLASK_APP=modules:app && flask --debug run"
build = "cd app && npm run build && cd .. && pyinstaller main.spec"
