<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Botiada</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Botiada</h1>
    <div class="toggle-buttons">
      <button id="toggle-keyboard" onclick="toggleKeyboard()">
        Toggle Keyboard Events
      </button>
      <button id="toggle-mouse" onclick="toggleMouse()">
        Toggle Mouse Events
      </button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
